ADFproject1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ADFproject1"
		},
		"AzureDataLakeAnalytics_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'AzureDataLakeAnalytics'"
		},
		"AzureSqlDatabase_landing_DB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase_landing_DB'"
		},
		"Local_db_landing_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Local_db_landing'"
		},
		"Local_laptop_linkservice_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Local_laptop_linkservice'"
		},
		"SqlServer_local_DB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer_local_DB'"
		},
		"local_file_system_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'local_file_system'"
		},
		"AzureDataLakeStoreFile1_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"AzureDataLakeStoreFile1_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "development/landing"
		},
		"AzureDataLakeStoreFile2_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"AzureDataLakeStoreFile2_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "development/landing"
		},
		"AzureDataLakeStoreFile3_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "filter_data.txt"
		},
		"AzureDataLakeStoreFile3_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "development/output"
		},
		"FileShare1_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(activity('local_input_file_name').output.value),'.csv')"
		},
		"FileShare1_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": ""
		},
		"FileShare_local_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@activity('local_input_file_name').output.value"
		},
		"get_file_from_local_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(item().TABLENAME,'.csv')"
		},
		"metadata_input_detls_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(item().name,'.csv')"
		},
		"metadata_input_detls_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "development/landing"
		},
		"put_file_adls_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(item().TABLENAME,'.csv')"
		},
		"put_file_adls_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "development/landing"
		},
		"ADLS_link_service_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://adlsgen1storage.azuredatalakestore.net/webhdfs/v1"
		},
		"ADLS_link_service_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "69cf0f09-b27a-4183-b3cc-3f3b8a180245"
		},
		"ADLS_link_service_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "844b9775-cc7c-4850-bd18-7fdf7bbca33d"
		},
		"ADLS_link_service_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "cloud-shell-storage-centralindia"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "adlstcs"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "eb8492d0-54d7-4161-b7a2-e6f7556db3f9"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "69cf0f09-b27a-4183-b3cc-3f3b8a180245"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "844b9775-cc7c-4850-bd18-7fdf7bbca33d"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "cloud-shell-storage-centralindia"
		},
		"Local_laptop_linkservice_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "ramkr4151"
		},
		"local_file_system_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "ramkr4151"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/get_files_local_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_src_files",
						"description": "Get all input files",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[all_tables_name]')]"
							},
							"dataset": {
								"referenceName": "get_tables_name_landing",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "get_landing_table_nm",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_src_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_src_files').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "copy_file_adls",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureDataLakeStoreSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "get_file_from_local",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "put_file_adls",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/get_tables_name_landing')]",
				"[concat(variables('factoryId'), '/datasets/get_file_from_local')]",
				"[concat(variables('factoryId'), '/datasets/put_file_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/input_files_validation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "local_input_file_name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[all_tables_name]')]"
							},
							"dataset": {
								"referenceName": "lkp_local_tab_name",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "local_input_file_name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('local_input_file_name').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetMetadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AzureDataLakeStoreFile1",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"childItems",
											"exists",
											"itemName",
											"itemType",
											"lastModified"
										]
									}
								},
								{
									"name": "Filter1",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "GetMetadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('GetMetadata1').output.childitems",
											"type": "Expression"
										},
										"condition": {
											"value": "@endswith(item().name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/lkp_local_tab_name')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataLakeStoreFile1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFile1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "exist"
					},
					{
						"name": "file"
					},
					{
						"name": "type"
					},
					{
						"name": "modify"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('AzureDataLakeStoreFile1_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('AzureDataLakeStoreFile1_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFile2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"itemName": {
						"type": "String"
					},
					"type": {
						"type": "String"
					},
					"exists": {
						"type": "String"
					},
					"lastModified": {
						"type": "String"
					},
					"childItems": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "itemName",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "exists",
						"type": "String"
					},
					{
						"name": "lastModified",
						"type": "DateTime"
					},
					{
						"name": "childItems",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('AzureDataLakeStoreFile2_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('AzureDataLakeStoreFile2_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFile3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('AzureDataLakeStoreFile3_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('AzureDataLakeStoreFile3_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_landing_DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "tablename",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_landing_DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShare1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_file_system",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "[parameters('FileShare1_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('FileShare1_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/local_file_system')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShare_local')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_file_system",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"structure": [
					{
						"name": "Filename",
						"type": "String"
					},
					{
						"name": "size",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('FileShare_local_properties_typeProperties_fileName')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/local_file_system')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_file_from_local')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_file_system",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('get_file_from_local_properties_typeProperties_fileName')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/local_file_system')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_tables_name_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_landing_DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "tablename",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_landing_DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lkp_local_tab_name')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Local_db_landing",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Local_db_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadata_input_detls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "[parameters('metadata_input_detls_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('metadata_input_detls_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/put_file_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('put_file_adls_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('put_file_adls_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_link_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_link_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('ADLS_link_service_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('ADLS_link_service_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('ADLS_link_service_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('ADLS_link_service_properties_typeProperties_resourceGroupName')]"
				},
				"connectVia": {
					"referenceName": "adlsdatalakestorage",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/adlsdatalakestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeAnalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeAnalytics",
				"typeProperties": {
					"accountName": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_accountName')]",
					"servicePrincipalId": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeAnalytics_servicePrincipalKey')]"
					},
					"tenant": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_landing_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase_landing_DB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Local_db_landing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Local_db_landing_connectionString')]"
				},
				"connectVia": {
					"referenceName": "Local-laptop-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Local-laptop-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Local_laptop_linkservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "//Desktop-dkh8i72/ftp",
					"userId": "[parameters('Local_laptop_linkservice_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Local_laptop_linkservice_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Local-laptop-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Local-laptop-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_local_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_local_DB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "Local-laptop-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Local-laptop-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/local_file_system')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "//Desktop-dkh8i72/ftp",
					"userId": "[parameters('local_file_system_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('local_file_system_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Local-laptop-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Local-laptop-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Local-laptop-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adlsdatalakestorage')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve"
					}
				}
			},
			"dependsOn": []
		}
	]
}