pipeline/get_files_local_adls.json
{
	"name": "get_files_local_adls",
	"properties": {
		"activities": [
			{
				"name": "get_src_files",
				"description": "Get all input files",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[all_tables_name]"
					},
					"dataset": {
						"referenceName": "get_tables_name_landing",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "get_landing_table_nm",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_src_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('get_src_files').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_file_adls",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "get_file_from_local",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "put_file_adls",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}