pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_table_names",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[all_tables_name]"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach_each_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_table_names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_table_names').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Data1",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureDataLakeStoreSource",
									"recursive": true
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000,
									"sqlWriterStoredProcedureName": {
										"value": "@activity('Lookup_table_names').output",
										"type": "Expression"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true
							},
							"inputs": [
								{
									"referenceName": "AzureDataLakeStoreFile4",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable3",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	}
}