ADFproject1/PartialArmTemplates/ArmTemplate_2_4_2019_2_4_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ADFproject1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/get_files_local_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_src_files",
						"description": "Get all input files",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[all_tables_name]')]"
							},
							"dataset": {
								"referenceName": "get_tables_name_landing",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "get_landing_table_nm",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_src_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('get_src_files').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "copy_file_adls",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureDataLakeStoreSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "get_file_from_local",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "put_file_adls",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/get_tables_name_landing')]",
				"[concat(variables('factoryId'), '/datasets/get_file_from_local')]",
				"[concat(variables('factoryId'), '/datasets/put_file_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/input_files_validation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "local_input_file_name",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[all_tables_name]')]"
							},
							"dataset": {
								"referenceName": "lkp_local_tab_name",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "local_input_file_name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('local_input_file_name').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetMetadata1",
									"type": "GetMetadata",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"dataset": {
											"referenceName": "AzureDataLakeStoreFile1",
											"type": "DatasetReference"
										},
										"fieldList": [
											"childItems",
											"exists",
											"itemName",
											"itemType",
											"lastModified"
										]
									}
								},
								{
									"name": "Filter1",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "GetMetadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"typeProperties": {
										"items": {
											"value": "@activity('GetMetadata1').output.childitems",
											"type": "Expression"
										},
										"condition": {
											"value": "@endswith(item().name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/lkp_local_tab_name')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataLakeStoreFile1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFile1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "exist"
					},
					{
						"name": "file"
					},
					{
						"name": "type"
					},
					{
						"name": "modify"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "development/landing"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFile2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"itemName": {
						"type": "String"
					},
					"type": {
						"type": "String"
					},
					"exists": {
						"type": "String"
					},
					"lastModified": {
						"type": "String"
					},
					"childItems": {
						"type": "String"
					}
				},
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "itemName",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "exists",
						"type": "String"
					},
					{
						"name": "lastModified",
						"type": "DateTime"
					},
					{
						"name": "childItems",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "development/landing"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFile3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "filter_data.txt",
					"folderPath": "development/output"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_landing_DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "tablename",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShare1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_file_system",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@concat(activity('local_input_file_name').output.value),'.csv')",
						"type": "Expression"
					},
					"folderPath": ""
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShare_local')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_file_system",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"structure": [
					{
						"name": "Filename",
						"type": "String"
					},
					{
						"name": "size",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@activity('local_input_file_name').output.value",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_file_from_local')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "local_file_system",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@concat(item().TABLENAME,'.csv')",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_tables_name_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_landing_DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "tablename",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/lkp_local_tab_name')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Local_db_landing",
					"type": "LinkedServiceReference"
				},
				"type": "SqlServerTable"
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadata_input_detls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@concat(item().name,'.csv')",
						"type": "Expression"
					},
					"folderPath": "development/landing"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/put_file_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_link_service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Get_Source_files"
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@concat(item().TABLENAME,'.csv')",
						"type": "Expression"
					},
					"folderPath": "development/landing"
				}
			}
		}
	]
}